:root {
    /* Accent color */
    --accent-color: #2196f3;

    --primary-text-color: #ffffff;

    /* Logo text color */
    --primary-logo-text-color: #000000;
    --secondary-logo-text-color: #ffffff;

    /* Header colors */
    --primary-header-text-color: #212121;
    --secondary-header-text-color: #757575;

    /* Hero text colors */
    --primary-hero-text-color: #ffffff;

    /* Content colors */
    --title-text-color: #212121;
    --content-text-color: #757575;

    /* Buttons */
    --primary-btn-color: #212121;

    /* Fonts */
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;

    /* Background colors */
    --primary-bg-color: #f5f4fa;
    --secondary-bg-color: rgba(255, 255, 255, 0.1);
}

/* --------------- Reset --------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* ----------------------------------- */

body {
    font-family: var(--primary-font-family);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* --------------- HEADER --------------- */

.header {
}

.header-container {
    display: flex;
    padding: 25px 0;
}

.nav {
    display: flex;
    align-items: center;
    gap: 93px;
    margin-right: auto;
}

.logo-link {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-logo-text-color);
}

.logo-link .accent {
    color: var(--accent-color);
}

.nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-item {
    height: 100%;
}

.nav-link {
    height: 100%;

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-header-text-color);
}

.header-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-item {
    height: 100%;
}

.header-link {
    height: 100%;

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-header-text-color);
}

.nav-link:hover,
.nav-link:focus,
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-link-icon {
    margin-right: 10px;

    fill: currentColor;
}

/* --------------- HERO --------------- */

.hero {
    padding: 200px 0;
    
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
    background-size: cover;
}

.hero-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-hero-text-color);
}

.hero-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    color: var(--primary-hero-text-color);

    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border: none;
    border-radius: 4px;
}

/* --------------- ADVANTAGES --------------- */

.advantages-container {
    padding-top: 94px;
    padding-bottom: 118px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.advantages-item {
    display: flex;
    flex-direction: column;

    flex-basis: calc(100% / 4 - 30px);
}

.advantages-item::before {
    content: '';

    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--primary-bg-color);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}

.advantages-item:nth-child(1)::before {
    background-image: url(../images/antena.svg);
}

.advantages-item:nth-child(2)::before {
    background-image: url(../images/clock.svg);
}

.advantages-item:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
}

.advantages-item:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
}

.advantages-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.advantages-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--content-text-color);
}

/* --------------- SPECIFICITY --------------- */

.specificity-container {
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;
}

.specificity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.specificity-item {
    flex-basis: calc(100% / 3 - 30px);
}

.specificity-image {
    width: 100%;
    height: auto;

    display: block;
}

/* --------------- TEAM --------------- */

.team {
    background-color: var(--primary-bg-color);
}

.team-container {
    padding: 94px 0;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team-item {
    flex-basis: calc(100% / 4 - 30px);
    padding-bottom: 30px;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-photo {
    width: 100%;
    height: auto;

    display: block;
    margin-bottom: 30px;
}

.team-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-position {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--content-text-color);
}

.team-social-list {
    display: flex;
    justify-content: center;
}

.team-social-item + .team-social-item {
    margin-left: 10px;
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    color: #afb1b8;

    border-radius: 50%;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-color);

    color: #ffffff;
}

.team-social-icon {
    fill: currentColor;
}

/* --------------- CLIENTS --------------- */

.clients-container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-item + .clients-item {
    margin-left: 30px;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-logo {
    fill: currentColor;
}

/* --------------- FOOTER --------------- */

.footer {
    /* !!! ВРЕМЕННО */
    background-color: #2f303a;
}

.footer-container {
    display: flex;
    align-items: baseline;
    padding: 60px 0;
}

.footer-left {
    margin-right: 70px;
}

.logo-link.footer {
    margin-bottom: 20px;
}

.footer.logo-link {
    display: block;

    color: var(--secondary-logo-text-color);
}

.footer-address {
    margin-bottom: 9px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-center-title {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primary-text-color);
}

.footer-social-list {
    display: flex;
}

.footer-social-list + .footer-social-list {
    margin-left: 10px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
    border-radius: 50%;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}

.footer-social-icon {
    fill: currentColor;
}

/* ========== PORTFOLIO PAGE ========= */

/* --------------- ACTIONS --------------- */

.projects-container {
    padding: 94px 0;
}

.projects-filter-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
}

.projects-filter-btn {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-btn-color);

    background-color: var(--primary-bg-color);
    border: none;
    border-radius: 4px;
}

.projects-filter-btn:hover,
.projects-filter-btn:focus {
    color: #ffffff;
    background-color: var(--accent-color);
}

.projects-filter-btn.active {
    color: #ffffff;
    background-color: var(--accent-color);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-item {
    flex-basis: calc(100% / 3 - 30px);
}

.projects-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-image {
    width: 100%;
    height: auto;

    display: block;
}

.project-description {
    padding: 20px 24px;

    border: 1px solid #eeeeee;
    border-top: none;
}

.project-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--content-text-color);
}
