:root {
    /* Accent color */
    --accent-color: #2196f3;

    /* Logo text color */
    --primary-logo-text-color: #000000;
    --secondary-logo-text-color: #ffffff;

    /* Header colors */
    --primary-header-text-color: #212121;
    --secondary-header-text-color: #757575;

    /* Hero text colors */
    --primary-hero-text-color: #ffffff;

    /* Content colors */
    --title-text-color: #212121;
    --content-text-color: #757575;

    /* Buttons */
    --primary-btn-color: #212121;

    /* Fonts */
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
}

/* --------------- Reset --------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    cursor: pointer;
}

/* ----------------------------------- */

body {
    font-family: var(--primary-font-family);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/* --------------- HEADER --------------- */

.header {
}

.header-container {
    display: flex;
    padding: 25px 0;
}

.nav {
    display: flex;
    align-items: center;
    gap: 93px;
    margin-right: auto;
}

.logo-link {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-logo-text-color);
}

.logo-link .accent {
    color: var(--accent-color);
}

.nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-item {
    height: 100%;
}

.nav-link {
    height: 100%;

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-header-text-color);
}

.header-list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-item {
    height: 100%;
}

.header-link {
    height: 100%;

    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-header-text-color);
}

.nav-link:hover,
.nav-link:focus,
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

/* --------------- HERO --------------- */

.hero {
    padding: 200px 0;

    /* !!! ВРЕМЕННО */
    background-color: #2f303a;
}

.hero-title {
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--primary-hero-text-color);
}

.hero-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    color: var(--primary-hero-text-color);

    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border: none;
    border-radius: 4px;
}

/* --------------- ADVANTAGES --------------- */

.advantages-container {
    padding-top: 94px;
    padding-bottom: 118px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    flex-wrap: wrap;    
    gap: 30px;
}

.advantages-item {
    flex-basis: calc(100% / 4 - 30px);
}

.advantages-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.advantages-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--content-text-color);
}

/* --------------- SPECIFICITY --------------- */

.specificity-container {
    padding-bottom: 94px;    
}

.section-title {
    margin-bottom: 50px;
}

.specificity-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.specificity-item {
    flex-basis: calc(100% / 3 - 30px);
}

.specificity-image {
    width: 100%;
    height: auto;

    display: block;
}

/* --------------- TEAM --------------- */

.team-container {
    padding: 94px 0;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;    
}

.team-item {
    flex-basis: calc(100% / 4 - 30px);
    padding-bottom: 30px;
}

.team-photo {
    width: 100%;
    height: auto;

    display: block;
    margin-bottom: 30px;
}

.team-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--content-text-color);
}

/* --------------- FOOTER --------------- */

.footer {
    /* !!! ВРЕМЕННО */
    background-color: #2f303a;
}

.footer-container {
    padding: 60px 0;
}

.logo-link.footer {
    margin-bottom: 20px;   
}

.footer.logo-link {
    display: block;

    color: var(--secondary-logo-text-color);
}

.footer-address {
    margin-bottom: 9px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* ========== PORTFOLIO PAGE ========= */

/* --------------- ACTIONS --------------- */

.projects-container {
    padding: 94px 0;
}

.projects-filter-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
}

.projects-filter-btn {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-btn-color);

    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
}

.projects-filter-btn.active {
    color: #ffffff;
    background-color: var(--accent-color);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    flex-basis: calc(100% / 3 - 30px);
}

.project-image {
    width: 100%;
    height: auto;

    display: block;
    margin-bottom: 20px;

}

.project-description {
    padding: 20px 24px;
}

.project-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--content-text-color);
}
